.App {
  text-align: center;
  margin: 0 auto;
  font-family: "Helvetica Neue";
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;
}

.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-self: center;
    padding-top: 25px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    border-radius: 5px;
}

/* .searchBar {
    background: white;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 350px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
    align-self: center;
    justify-self: center;
} */

.title {
    background: white;
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 15px;
    border-radius: 5px;
    align-self: center;
    justify-self: center;
}

.card {
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 10px 20px rgba(0,0,0,0.2);
    width: 200px;
    margin: 15px;
    padding: 5px;
    background: white;
    border: 0.25px solid rgb(205, 205, 205);
    border-radius: 5px;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.05);
}


/* desktop */
@media (min-width: 1200px) {

.masterDiv {
    display: grid;
    grid-template-columns: 75px 1fr 75px;
    grid-template-rows: 1fr;
}

.resultsDiv {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    align-self: center;
    justify-self: center;
}

.grid0 {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.grid1 {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.grid2 {
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.grid3 {
    grid-column: 4/5;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.grid4 {
    grid-column: 5/6;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;

}

.grid5 {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;

}

.grid6 {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;

}

.grid7 {
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;

}

.grid8 {
    grid-column: 4/5;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;

}

.grid9 {
    grid-column: 5/6;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;

}

.grid10 {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;

}

.grid11 {
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;

}

.grid12 {
    grid-column: 3/4;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;

}

.grid13 {
    grid-column: 4/5;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;

}

.grid14 {
    grid-column: 5/6;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;

}

.grid15 {
    grid-column: 1/2;
    grid-row: 4/5;
    align-self: center;
    justify-self: center;

}

.grid16 {
    grid-column: 2/3;
    grid-row: 4/5;
    align-self: center;
    justify-self: center;

}

.grid17 {
    grid-column: 3/4;
    grid-row: 4/5;
    align-self: center;
    justify-self: center;

}

.grid18 {
    grid-column: 4/5;
    grid-row: 4/5;
    align-self: center;
    justify-self: center;

}

.grid19 {
    grid-column: 5/6;
    grid-row: 4/5;
    align-self: center;
    justify-self: center;

}

} 
/* end desktop */

/* <a href='https://www.freepik.com/free-vector/retro-microphone-with-grunge-music-concept_715259.htm'>Designed by Freepik</a> */
