.App {
  text-align: center;
  margin: 0 auto;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.formDiv {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-self: center;
    /* padding: 25px; */
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, auto);
}

.searchBar {
    background: white;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 300px;
    height: 25px;
    align-items: center;
    justify-self: left;
    align-self: center;
    /* text-align: center; */
    border-radius: 5px;
    /* margin: auto; */
    margin-left: 50px;
    margin-top: 25px;
    display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;
    /* opacity: 0.8; */
}

.card {
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 10px 20px rgba(0,0,0,0.2);
    width: 150px;
    margin: 15px;
    padding: 5px;
    background: white;
    border: 0.25px solid rgb(205, 205, 205);
    border-radius: 5px;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.05);
}

@media (min-width: 700px) {
.resultsDiv {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
}

.grid0 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.grid1 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.grid2 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.grid3 {
    grid-column: 4/5;
    grid-row: 1/2;
}

.grid4 {
    grid-column: 5/6;
    grid-row: 1/2;
}

.grid5 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.grid6 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.grid7 {
    grid-column: 3/4;
    grid-row: 2/3;
}

.grid8 {
    grid-column: 4/5;
    grid-row: 2/3;
}

.grid9 {
    grid-column: 5/6;
    grid-row: 2/3;
}

.grid10 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.grid11 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.grid12 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.grid13 {
    grid-column: 4/5;
    grid-row: 3/4;
}

.grid14 {
    grid-column: 5/6;
    grid-row: 3/4;
}

.grid15 {
    grid-column: 1/2;
    grid-row: 4/5;
}

.grid16 {
    grid-column: 2/3;
    grid-row: 4/5;
}

.grid17 {
    grid-column: 3/4;
    grid-row: 4/5;
}

.grid18 {
    grid-column: 4/5;
    grid-row: 4/5;
}

.grid19 {
    grid-column: 5/6;
    grid-row: 4/5;
}

} 
/* end 700px */

/* <a href='https://www.freepik.com/free-vector/treble-clef-and-notes-neon-sign_3239201.htm'>Designed by Katemangostar</a> */

/* <a href='https://www.freepik.com/free-vector/retro-microphone-with-grunge-music-concept_715259.htm'>Designed by Freepik</a> */

/* <a href='https://www.freepik.com/free-vector/microphone-on-a-stand_792490.htm'>Designed by Freepik</a> */